.header-main {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 150px;
  background-color: #fff;
  .header-left {
    h3 {
      color: #0064ae;
      font-size: 30px;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .header-right {
    ul {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 100px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #0064ae;
          font-size: 25px;
          font-weight: 500;
          cursor: pointer;
          position: relative;
          &:active {
            color: #fff;
          }
          &::after {
            position: absolute;
            bottom: -4px;
            content: '';
            left: 0;
            width: 0%;
            height: 2.5px;
            background-color: #0064ae;
            transition: 0.3s;
          }
          &:hover::after {
            width: 100%;
            transition: 0.3s;
          }
        }
      }
    }
  }
}