.home-page-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .welcome {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 150px 30px 150px;
    background-color: #100f1f;
    .welcome-left {
      width: 100%;
      height: 600px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 20px;
      h1 {
        font-size: 100px;
        letter-spacing: 1px;
        font-weight: 500;
        color: #fff;
        text-shadow: 0px 0px 2px #fff;
      }
    }
    .welcome-right {
      flex: 1;
      width: 100%;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: right;
      img {
        width: 300px;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .search-system {
    width: 100%;
    height: auto;
    background-color: #28304a;
    padding: 15px 150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 40px;
    input,
    select {
      width: 150px;
      height: auto;
      font-size: 18px;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 4px 10px;
    }
  }
  .footballers-list {
    padding: 50px 150px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    background-color: #100f1f;
    .container {
      width: 100%;
      height: auto;
      display: flex;
      align-items: top;
      justify-content: space-between;
      padding: 20px;
      background-color: #0084c5;
      border-radius: 24px;
      transition: 0.3s;
      &:hover {
        box-shadow: 2px 2px 8px 0px #fff;
        transition: 0.3s;
      }
      .cont-left {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 20px; 
        padding-right: 30px;
        .name,
        .age,
        .position,
        .price {
          h1 {
            color: #fff;
          }
          p {
            color: #fff;
            font-weight: 500;
            font-size: 20px;
          }
          padding-bottom: 4px;
          border-bottom: 2px solid #fff;
        }
        .btn {
          width: 100%;
          height: auto;
          button {
            width: 150px;
            height: auto;
            padding: 3px 10px;
            border: none;
            outline: none;
            border-radius: 5px;
            background-color: #19182f;
            color: #fff;
            font-size: 19px;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
              transition: 0.3s;
              background-color: #100f1f;
            }
            &:active {
              background-color: #19182f;
            }
          }
        }
      }
      .cont-right {
        width: 100%;
        flex: 1;
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
        }
      }
    }
  }
}